sudo: false
language: python
matrix:
  include:
    - python: '3.5'
      env: TOXENV=py35-django111
    - python: '3.6'
      env: TOXENV=py36-django111

    - python: '3.5'
      env: TOXENV=py35-django20
    - python: '3.6'
      env: TOXENV=py36-django20

install:
  - pip install -U pip wheel setuptools
  - pip install tox
script: tox
